[package]
name = "spinoso-time"
version = "0.2.0"
authors = ["Ryan Lopopolo <rjl@hyperbo.la>"]
edition = "2018"
description = """
Datetime handling for Artichoke Ruby
"""
repository = "https://github.com/artichoke/artichoke"
readme = "README.md"
license = "MIT"
keywords = ["artichoke", "date", "datetime", "spinoso", "time"]
categories = ["date-and-time"]

[dependencies]
chrono = { version = "0.4.19", default-features = false, features = ["clock"] }
chrono-tz = "0.6"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
