---
name: Merge
"on":
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
jobs:
  labels:
    name: Labels
    runs-on: ubuntu-latest

    steps:
      - uses: mheap/github-action-required-labels@80a96a4863886addcbc9f681b5b295ba7f5424e1 # v5.3.0
        with:
          mode: exactly
          count: 0
          labels: "S-do-not-merge, S-wip"
