[package]
name = "spec-runner"
version = "0.1.0"
authors = ["Ryan Lopopolo <rjl@hyperbo.la>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.mruby]
path = "../mruby"

[dependencies.rust-embed]
version = "4.4.0"
features = ["debug-embed"]
